@font-face {
  font-family: "Source Code Pro";
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
}

.font-logo {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 3em;
}

.blink-logo {
  animation: blinker 0.8s step-start infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}